<% weeks = weeks_table %>
<table class="weeks_table">
    <tr>
        <th class="weeknum_header" style="padding-right: 1em;"><em><%=lc 'weeknum_header' %></em></th>
        <% for dayname in Date::DAYNAMES %>
            <th class="day_header"><%= dayname %></th>
	      <% end %>
				<th> <%=l 'weeks','responsability' %> </th>
    </tr>
    <%= render :partial => "weeks_table_tr", :collection => weeks %>
</table>
