<% weeks = weeks_past_view %>

<h3><%=t 'weeks.past_weeks' %>:</h3>
<div class="week_jumper">
	<% for week in weeks %>
		<%= link_to_unless_current( content_tag(:span, week.number ), week_path( week ), :class => "jumplink" )%>
  <% end %>
</div>
