<% content_for( :title, @title = t('people.edit.title.admin') )%>


<p><%= "#{t 'role.n'}:  #{@person.roles_str}" %></p>

<%= render( 'shared/error_messages', obj: @person ) %>

<p><%= render( :partial => 'person_form', :locals => { :person => @person } ) %></p>
