/* Global styles */
td {
    padding: 2px 1em;
}

.fieldWithErrors {
    border: solid red 2px;
}

/* ID styles */
div.flash {
    padding: 1em;
    margin-bottom: 2em;
    background-color: #cccccc;
    border: 2px solid #555555;
    font: bold smaller sans-serif;
    color: #333333;
}
#flash_notice {
    background-color: #f0fff0;
    border-color: green;
    color: green;
}
#flash_error {
    background-color: #fff0f0;
    border-color: red;
    color: red;
}

#container {
    border: 1px solid #eeeeee;
}

#banner {
    background: #0099cc;
    padding: 8px;
    border-bottom: 4px solid;
    /* font: small-caps 50px/50px "Times New Roman", serif; */
    font: small-caps 38px/50px serif;
    color: #000080;
    text-align: center;
}

#banner img {
    float: left;
    margin: 10px;
    /* height: 3em;
    width: 2.22em; */
}

#side {
    float:  left;
    width:  12em;
    height: auto;
    margin: 0em;
    padding: 0 2em;
    background-color: #80a0f0;
}

#side h3,h4 {
    margin-bottom: 0;
}
#side ul {
    margin-top: 0;
    padding-left: 1em;
    list-style-type: none;
}

#side ul li {
    padding: 3px 0px;
    margin: 2px;
}

#main {
    margin-left: 16em;
    padding: 2em;
    background: white;
    border-left: inherit;
}

#main h1 {
    font: 150% sans-serif;
    color: #226;
    border-bottom: 3px dotted #77d;
    margin-bottom: 1.5em;
}

#main ul.actions {
    margin:  1em 0em;
    padding: 0;
    list-style-type: none;
}
#main ul.actions li {
    display: inline;
    margin: 2px 1em 2px 0em;
}

#footer {
    clear: both;
    border-top: inherit;
    padding: 0em 2em;
    margin-bottom: 1em;
    text-align: right;
    color: #aaaaaa;
}

/* Styles for Saisonübersicht */
table.weeks_table th.day_header {
    font-size: 1em;
}

table.weeks_table th.weeknum_header {
    font-size: 1.5em;
}

table.weeks_table .week_number {
    font-size: 3.2em;
}
table.weeks_table .week_number a {
    text-decoration: none;
}

table.weeks_table .weeks_table_td {
    width: 80px;  /* synchronize with day.create_status_image */
    height: 80px;
    padding: 1px;
    font-size: 1.5em;
    text-align: center;
    line-height: 80px; /*vertical-align: middle;*/
    background-color: #e0e0e0;
    background-repeat: repeat-x;
    background-position: center;
}

table.weeks_table .weeks_table_td a {
    width: 100%;
    height: 100%;
    display: block;
    text-decoration: none;
}

/* Shamelessly stolen from http://www.texsoft.it/index.php?c=software&m=sw.js.htmltooltip */
.xstooltip {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    text-align: left;
    font: normal 8pt sans-serif;
    padding: 3px;
    border: solid 1px;

    background-color: white;
}
.xstooltip td {
    padding: 0px 1px 0px 4px;
}

/* Styles for other partials */
div.week_jumper {
    font-size: 2.8em;
    line-height: 100%;
    margin-bottom: 1em;
}
div.week_jumper .jumplink {
    margin: 0px 3px;
    font-size: 85%;
}

div.person_details {
    margin-bottom: 3em;
}

span.time_begin {
    position: absolute;
    border-top: 1px solid black;
    margin: 0; padding: 1px;
    height: 17px; width: 50px;
}
span.time_end {
    position: absolute;
    border-bottom: 1px solid black;
    margin: 0; padding: 1px;
    height: 17px; width: 50px;
}
span.week_plan_shift {
    position: absolute; left: auto;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    margin: 0;
}
span.week_plan_shift .person_name {
    line-height: 1.5em;
    margin-bottom: 0px;
}
span.week_plan_shift .person_phone_numbers {
    font-size: x-small;
}
a.block {
    display: block;
    width: inherit;
    height: inherit;
}

span.person_actions_for_admin {
    font-size: smaller;
}
tr.odd {
    background-color: #fafafa;
}
tr.even {
    background-color: #f2f2f2;
}

/* printout styles
*-- Remember to include
*-- <%= stylesheet_link_tag( 'badihomepage', :media => :print )%>
*-- in every layout!
*/
@media print {

    #banner, #side, #footer, #page_title, #bottom_navi {
        display: none !important;
    }

    #main {
        margin: 0;
        /* padding: 0; */
        border: none;
    }

    span.week_plan_shift .person_name {
        line-height: 1.2em;
    }
    span.week_plan_shift .phone_numbers {
        line-height: normal;
        font-size: smaller;
    }
}
