<% before = day_jumper.yesterday %>
<% after  = day_jumper.tomorrow %>

<div class="day_jumper">
  <%= link_to( '<< ' + t('days.day_jumper.back') , before ) unless before.nil? %>
  <%= link_to( t('days.day_jumper.forth') + ' >>'  , after  ) unless  after.nil? %>
</div>

<% #TODO: DO THE SAME FOR +/- 1 WEEK %>
