<% before = day_jumper.yesterday %>
<% after  = day_jumper.tomorrow %>

<div class="day_jumper">
	<%= link_to( '<< ' + t('back') , week_day_path( before.week, before ) ) unless before.nil? %>
  <%= link_to( t('forth') + ' >>'  , week_day_path(  after.week, after  ) ) unless  after.nil? %>
</div>