<%
  day = day_jumper
  next_week = day.plus  1.week
  tomorrow  = day.plus  1.day
  yesterday = day.minus 1.day
  last_week = day.minus 1.week
%>

<%# note: the navigation_link helper does not fit here (unless the arrows were inserted by css...) %>

<li><%= '↑ ' + link_to( t('days.day_jumper.back_one_week'), last_week )  unless last_week.nil? %></li>

<li><%= '← ' + link_to( t('days.day_jumper.back_one_day'), yesterday )   unless yesterday.nil? %>
    <%# '|' if yesterday && tomorrow %>
    <%= link_to( t('days.day_jumper.forth_one_day'), tomorrow ) + ' →'   unless tomorrow.nil?  %></li>

<li><%= '↓ ' + link_to( t('days.day_jumper.forth_one_week'), next_week ) unless next_week.nil? %></li>
