<p style="margin-bottom: 3px">
  <span style="border-bottom: 3px solid <%= saison.color %>">
  <%=t "role.#{saison.name}Staff" %>
  </span>
</p>

<div style="padding: 2px; border-left: 5px solid <%= saison.color %>">
  <%= yield %>
</div>
