<% form_for @day do |f| %>

  <%= render :partial => 'shift_tr_for_admin_form', :collection => @day_shifts[saison], :as => :shift %>
  
  <tr><td style="border-left: 5px solid <%= saison.color %>">
    <%= submit_tag t'Save' %>
  </td></tr>

<% end unless shifts.nil? or shifts.empty? %>
