<tr valign="middle">
  <th align="left" style="border-left: 5px solid <%= shift.saison.color %>">
    <%= full_descr(shift.shiftinfo, "%s<br />%s") %>
  </th>

  <td align="center"><%= person_string_or_free( shift ) %></td>

  <% if current_person.is_staff_for? shift.saison %>
    <td align="left"><%= subscription_link_or_text( shift ) %></td>
  <% end %>
</tr>
