<% if current_person.is_badiStaff? %>
  <%= render( :partial => 'layouts/badi_staff_navigation' )%>
<% else %>
	<ul>
		<li><%= link_to( l('sessions','logout'), logout_path )%></li>
    <li><%= link_to_unless_current( l('weeks','index','title'), weeks_path )%></li>
	</ul>
<% end %>
