<% if current_person.has_role? rolename %>
  <% if content_for?("static_links_for_#{rolename}") or content_for?("dynamic_links_for_#{rolename}") %>
    <h3><%=t "role.#{rolename}" %></h3>
    <ul id="links_for_<%=rolename%>">
      <%= content_for  "static_links_for_#{rolename}" %>
      <%= content_for "dynamic_links_for_#{rolename}" %>
    </ul>
  <% end %>
<% end %>
